*{
    font-family: Verdana, serif;
    color: black;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 102, 0);
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
}