*{
    font-family: sans-serif, serif;
    color: white;
}
body{
    background-color: 	rgb(184,216,190);
}
h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: fantasy;
}
li{
    list-style-type: none;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 40px;
}
img{
    text-align: center;
}